.button {
  background-color: $clr-orange-btn;
  color: $clr-white;
  border-radius: 8px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.9em 2.75em;
  transition: $transition;
  &:hover {
    background-color: $clr-orange-btn-hover;
  }
  &.navBtn {
    display: none;
    @media only screen and (min-width: $navTablet) {
      display: block;
    }
  }
  &.introBtn {
    padding-inline: 6em;
    font-size: 0.9rem;
    max-width: max-content;
    @media only screen and (min-width: $navTablet) {
      display: none;
    }
  }
  &.submitBtn {
    width: 100%;
    font-size: 0.9em;
    @media only screen and (min-width: $mobile) {
      width: 35%;
    }
    @media only screen and (min-width: $desktop-wide) {
      width: 20%;
    }
  }
  &.submitBtnPopup {
    width: 75%;
    @media only screen and (min-width: $mobile) {
      width: 40%;
    }
    @media only screen and (min-width: $desktop-wide) {
      width: 30%;
    }
  }
  &.serviceCardBtn {
    background-color: $clr-black;
    font-size: 1em;
    padding-inline: 1.5em;
    &:before {
      position: absolute;
      content: "";
      background: transparent;
      transition: all 0.5s ease;
    }
    &:hover {
      box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.15), 0 0 5px 0 rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
  }
}
