.cvPage {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: $clr-font-white;
  .introContainer {
    width: 100%;
    height: 100%;
    @media only screen and (min-width: $desktop) {
      height: 25em;
    }
    .intro {
      background-color: $clr-pink-background;
      display: flex;
      flex-direction: row;
      height: 100%;
      .leftBlock {
        flex: 1;
        display: flex;
        align-items: flex-end;
        div {
          padding: 3rem;
          h1 {
            font-family: $font-title;
            font-size: 3.5rem;
            font-weight: 400;
            margin-bottom: 0.3rem;
          }
          p {
            margin-top: 0;
            font-size: 1.1rem;
            line-height: 1.5em;
            padding-right: 20%;
          }
          @media only screen and (max-width: $tablet) {
            p {
              padding-right: 0;
            }
          }
        }
      }
      .rightBlock {
        flex: 1;
        position: relative;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          vertical-align: top;
        }
        @media only screen and (max-width: $tablet) {
          display: none;
        }
      }
    }
  }
  .experienceBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    margin: 2rem;
    @media only screen and (min-width: $tablet) {
      margin: 8rem;
    }
  }
}
