.cvPage {
  padding-top: 80px;
  background-color: $clr-cream-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 3rem;
      font-family: "HK-Grotesk-SemiBold";
      margin-bottom: 0;
    }
    p {
        font-size: 1rem;
        line-height: 1.5em;
        max-width: 60%;
        text-align: center;
    }
  }
  .experienceBlockContainer {
    padding: 10%;
    padding-top: 5em;
  }
}
