.pricingPage {
  padding-top: 80px;
  background-color: $clr-pink-background;
  padding-bottom: 0.5em;
  font-family: $font-title;
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .responsive-table {
    padding-left: 0;
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      position: relative;
      &:after {
        content: "";
        background: linear-gradient(to right, transparent 10%, rgb(227, 165, 65) 50%, transparent 90%);
        position: absolute;
        width: 200%; 
        height: 1.8px;
        bottom: -10px;
        left: -50%; 
      }
    }
    .table-header {
      font-size: 1.8em;
      font-weight: 500;
      .col-2 {
        position: relative;
      }
    }
    .table-row {
      display: flex;
      align-items: center;
      font-size: 1em;
      .priceWrapper {
        strong {
          display: inline-block;
          background-image: url(../../public/images//services-icons/services-icon-1.png);
          background-repeat: no-repeat;
          background-size: 3em;
          padding: 15px;
          background-position: center;
        }
      }
    }
    .col-1 {
      flex-basis: 33%;
    }

    .col-3 {
      flex-basis: 40%;
      text-align: left;
      div {
        display: flex;
        flex-direction: column;
      }
    }

    @media all and (max-width: $tablet) {
      .table-header {
        display: none;
      }

      li.table-row {
        display: block;
        flex-direction: column;
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: $clr-pink-background-dark;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
    @media all and (max-width: $navTablet) {
      .table-row {
        height: auto;
      }
    }
    @media all and (max-width: $mobile) {
      .col-3 span {
        text-align: left;
      }
    }
  }
}
