// colors
$clr-black: #232323;
$clr-brown-hover: #a6795b;
$clr-cream-background: #f9eecf;
$clr-white: #fff;
$clr-orange-btn: #eb991b;
$clr-orange-btn-hover: #e37223;
$clr-pink-background-light: #f9e9e4;
$clr-pink-background-dark: #cb8275;
$clr-light-gray-text: #a3a8a0;
$clr-dusty-gray: #727d6d;
$clr-light-gray: #9f9c9c;
$clr-error-orange: #e64625;
$clr-invalid-input: #f9f1ec;
$clr-error-border: #e64625;
$clr-blue-ink: rgba(43, 70, 126, 0.8);

// new design
$clr-pink-background: #EFD2D4;
$clr-background-aubergine: #290023;
$clr-font-white: #FCFCEE;
$clr-font-header: #EFD2D4;
$clr-pink-accent: #AF1B3F;
$clr-pink-accent-hover: #8D1634;
$clr-salmon: #E2B1A1;
$clr-purple: #520045;

//fonts
$font-title: 'Gotu', sans-serif;

//breakpoints
$mobile: 500px;
$tablet: 750px;
$navTablet: 950px;
$desktop: 1200px;
$desktop-wide: 1500px;
$desktop-ultrawide: 1700px;

//misc
$transition: all 0.3s ease;
$mobileNavBorder: 1px solid $clr-salmon;
$boxShadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);


