.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: $clr-white;
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: $clr-white;
  z-index: 4;
  &.mobileNav {
    position: static;
  }
  @media screen and (max-width: $tablet) {
    padding: 0 3em;
  }
}
