.footer {
    color: $clr-light-gray-text;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    padding: 2em;

    a.email{
        line-height: 10px;
        border-bottom: $clr-black solid 1px;
    }

    div:first-child {
        text-align: center;
        font-size: 1.15em;
        margin-bottom: 1em;
    }

    div:last-child {
        span {
            margin-right: 1rem;
            position: relative;
            top: 1px;
        }
        @media only screen and (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            span {
                margin-right: 0;
            }
        }
    }

}