.serviceCard {
  height: 300px;
  background-color: $clr-white;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, .1);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  > div {
    flex: 1;
  }
  &:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2)
  }
}
