.pinkSection {
    background-color: $clr-pink-background;
    padding: 3rem 2rem;
    font-family: $ft-esteban;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5em;
    @media only screen and (min-width: $navTablet) {
        padding: 5rem 8rem;
    }
}