.popupForm {
    p {
        margin-top: 0;
        text-align: center;
    }
    span {
        color: $clr-pink-background-dark;
    }
    @media only screen and (min-width: $navTablet) {
        p {
            width: 80%;
            margin: auto;
            margin-bottom: 1em;
        }
    }
}