.bioNote {
  display: flex;
  flex-direction: column;
  font-family: "HK-Grotesk-Light";
  div:first-child {
    max-height: 18rem;
    img {
      width: 100%;
      height: 18rem;
      object-fit: cover;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  div:last-child {
    background-color: $clr-cream-background;
    padding: 1em;
    h5 {
      margin-top: 0.5em;
      font-size: 2em;
      font-family: "HK-Grotesk-SemiBold";
      font-weight: 500;
    }
    p {
      text-align: left;
    }
  }
  @media only screen and (min-width: 550px) {
    // change to dark pink
    box-shadow: $boxShadow;
    flex-direction: row;
    div:first-child {
      flex: 40%;
      max-height: none;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    div:last-child {
      flex: 70%;
      padding: 2.5em;
    }
  }
  @media only screen and (min-width: $navTablet) {
    max-width: 85%;
    margin: auto;
  }
}
