.bioNote {
  display: flex;
  flex-direction: column;
  width: 62vw;
  margin: auto;
  height: min-content;
  div:first-child {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div:last-child {
    background-color: $clr-pink-background;
    padding: 2em;
    padding-top: 4.5em;
    display: flex;
    flex-direction: column;
    position: relative;
    h5 {
      margin-top: 0.3em;
      font-size: 2.2rem;
      margin-bottom: 0;
      font-family: $font-title;
      font-weight: 400;
    }
    p {
      text-align: left;
    }
    &::before {
      content: "“";
      position: absolute;
      top: 0;
      left: 0.3em;
      font-size: 6.5em;
      font-family: $font-title;
    }
  }
  @media only screen and (min-width: 1000px) {
    box-shadow: $boxShadow;
    flex-direction: row;
    div:last-child {
      padding: 1.5em 4em;
      padding-top: 4.5em;
    }
  }

  @media only screen and (min-width: $desktop-wide) {
    height: 470px;
  }

  @media only screen and (min-width: $desktop-ultrawide) {
    height: 430px;
  }
}
