.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  div:first-child {
    margin: 1rem 1.5rem;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  div:last-child {
    text-align: center;
    h5 {
      font-size: 1.2em;
      margin: 0;
      letter-spacing: 0.5px;
    }
  }

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    div:last-child {
        text-align: left;
    }
  }
}
