.popupFeedback {
  font-size: 2em;
  padding-bottom: 1em;
  p {
    margin: 0;
    .name {
      color: $clr-pink-background-dark;
    }
  }
  @media only screen and (min-width: $navTablet) {
    padding: 1.5em 0;
  }
}
