.nav {
  display: none;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 2rem;
    gap: 0.5rem;
    li > * {
      font-size: 1rem;
      padding: 0.8em;
      color: $clr-font-header;
    }
    .dropdown {
      position: relative;
      &:hover:not(.mobileDropdown),
      &.activeDropdown {
        button::after {
          margin-left: 0.5em;
          transform: rotate(135deg);
          transform-origin: center;
          margin-top: 0.6em;
        }
        .dropdownWrapper {
          display: block;
          position: absolute;
          padding: 0.8em;
          background-color: $clr-background-aubergine;
          width: 350px;
          border-radius: 8px;
          animation: fadeInAnimation ease 0.5s;
          z-index: 5;
          left: -14px; 
          .dropdown {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 1.6em;
            li {
              padding: 0;
              animation: slideUpAnimation ease 0.5s;
              &:last-child {
                padding-bottom: 1em;
              }
            }
          }
        }
      }
      button {
        margin-right: 1em;
        &::after {
          content: "";
          margin-top: 0.8em;
          margin-left: 0.8em;
          display: inline-block;
          position: absolute;
          height: 6px;
          width: 6px;
          transform: rotate(-45deg) translateY(-100%);
          transform-origin: center;
          border-bottom: 2px solid $clr-font-header;
          border-left: 2px solid $clr-font-header;
          transition: all 0.2s ease;
        }
      }
    }
    .dropdownWrapper {
      display: none;
    }
    a {
      transition: $transition;
      &:hover,
      &.active {
        color: $clr-salmon;
      }
    }
  }
  @media only screen and (min-width: $navTablet) {
    display: block;
    flex-grow: 1;
  }

  // mobile nav
  &.mobileNav {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: $clr-background-aubergine;
    width: 100%;
    ul {
      flex-direction: column;
      align-items: flex-start;
      padding: 2em;
      overflow-y: visible;
      li {
        width: 100%;
        border-bottom: $mobileNavBorder;
        padding: 1em 0;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        &:first-child {
          border-top: $mobileNavBorder;
        }
        & > * {
          padding: inherit;
          font-size: 1.15rem;
        }

        &.dropdown.activeDropdown.mobileDropdown {
          .dropdownWrapper {
            position: static;
            width: 100%;
            ul {
              gap: 0;
              li {
                border: none;
                padding: 1em;
                &:first-child {
                  padding-top: 0.5em;
                }
                &:last-child {
                  padding-bottom: 0.5em;
                }
              }
            }
          }
        }

        button {
          padding: 0;
          width: 100%;
          text-align: left;
          -webkit-tap-highlight-color: transparent;

          &::after {
            right: 1em;
          }
        }
      }
      .activeDropdown button::after {
        right: 1.3em;
      }
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
