.button {
  background-color: $clr-orange-btn;
  color: $clr-white;
  border-radius: 8px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.9em 2.75em;
  transition: $transition;
  &:hover {
    background-color: $clr-orange-btn-hover;
  }
  &.navBtn {
    display: none;
    @media only screen and (min-width: $navTablet) {
      display: block;
    }
  }
  &.introBtn {
    padding-inline: 6em;
    font-size: 1rem;
    @media only screen and (min-width: $navTablet) {
      width: 100%;
    }
  }
  &.submitBtn {
    width: 100%;
    font-size: 0.9em;
    @media only screen and (min-width: $mobile) {
      width: 35%;
    }
    @media only screen and (min-width: $desktop-wide) {
      width: 20%;
    }
  }
  &.submitBtnPopup {
    width: 75%;
    @media only screen and (min-width: $mobile) {
      width: 40%;
    }
    @media only screen and (min-width: $desktop-wide) {
      width: 30%;
    }
  }
}
