.intro {
  background-color: $clr-cream-background;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }
  
  .descriptionWrapper {
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
      font-size: 2.5em;
      max-width: 80%;
      margin: 0;
      font-weight: 500;
    }
    p {
      font-size: 1rem;
      line-height: 1.4em;
    }
  }
  @media only screen and (min-width: $tablet) {
    display: flex;
    height: 90vh;
    .carouselWrapper {
      flex: 50%;
      img {
        height: 100%;
      }
      ul.control-dots li.dot {
        position: absolute;
        height: 8px !important;
        bottom: 0;
      }
    }
    .descriptionWrapper {
      padding: 5em;
      flex: 50%;
      h1 {
        font-size: 3.5em;
      }
      p {
        line-height: 1.5em;
      }
    }
  }
  @media only screen and (min-width: $navTablet) {
    .descriptionWrapper {
      padding-right: 20em;
      padding-bottom: 2em;
      h1 {
        font-size: 2.4em;
      }
    }
  }
  @media only screen and (min-width: $desktop-wide) {
    .descriptionWrapper {
      padding-right: 20em;
      h1 {
        line-height: 3.9rem;
        font-size: 3vw;
      }
      p {
        font-size: 1.1vw;
      }
    }
  }
}
