.intro {
  background-color: $clr-cream-background;
  min-height: 100vh;
  padding-top: 80px;
  img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }
  div:last-child {
    padding: 5em 2em;
    font-family: $ft-hk-grotesk;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
      font-family: $ft-title;
      font-size: 2.5em;
      max-width: 80%;
      margin: 0;
      font-weight: 500;
    }
    p {
      font-family: $ft-esteban;
      font-size: 1rem;
      line-height: 1.4em;
    }
  }
  @media only screen and (min-width: $tablet) {
    display: flex;
    img {
      height: 100%;
      object-fit: cover;
    }
    div:first-child {
      flex: 50%;
    }
    div:last-child {
      padding: 7em;
      flex: 50%;
      h1 {
        font-size: 3.5em;
      }
      p {
        line-height: 1.7em;
      }
    }
  }
  @media only screen and (min-width: $navTablet) {
    div:last-child {
      padding-right: 20em;
      h1 {
        font-size: 4em;
      }
    }
  }
  @media only screen and (min-width: $desktop-wide) {
    div:last-child {
      padding-right: 25em;
      h1 {
        width: 75%;
        font-size: 3vw;
      }
      p {
        font-size: 1.1vw;
      }
    }
  }
}
