.bioNote {
  display: flex;
  flex-direction: column;
  div:first-child {
    max-height: 18rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  div:last-child {
    background-color: $clr-cream-background;
    padding: 1em;
    h5 {
      margin-top: 0.5em;
      font-size: 1.5em;
      font-family: $ft-hk-grotesk;
    }
    p {
      text-align: justify;
    }
  }
  @media only screen and (min-width: 550px) {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
    flex-direction: row;
    div:first-child {
      flex: 30%;
      max-height: none;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    div:last-child {
      flex: 70%;
      padding: 2.5em;
    }
  }
  @media only screen and (min-width: $navTablet) {
    max-width: 80%;
    margin: auto;
}}
