.miniPopup {
  background-color: $clr-white;
  color: $clr-black !important;
  font-family: $ft-title-bold;
  position: absolute;
  font-size: 1rem !important;
  border-radius: 10px;
  text-align: center;
  padding: 11px;
  bottom: 2.3em;
  right: -50%;
  &::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 15px solid transparent;
    left: 10px;
    bottom: -12px;
  }
}
