// colors
$clr-black: #232323;
$clr-brown-hover: #a6795b;
$clr-cream-background: #f9eecf;
$clr-white: #fff;
$clr-orange-btn: #eb991b;
$clr-orange-btn-hover: #e37223;

// fonts
 $ft-jost: 'Jost', sans-serif;

//breakpoints
$navTablet: 950px;

//misc
$transition: all 0.3s ease;
$mobileNavBorder: 1px solid $clr-brown-hover;


