// colors
$clr-black: #232323;
$clr-brown-hover: #a6795b;
$clr-cream-background: #f9eecf;
$clr-white: #fff;
$clr-orange-btn: #eb991b;
$clr-orange-btn-hover: #e37223;
$clr-pink-background: #f0c9bc;
$clr-pink-background-dark: #cb8275;
$clr-light-gray-text: #a3a8a0;

// fonts
 $ft-hk-grotesk: "HK-Grotesk-Reg", sans-serif;
 $ft-title: "HK-Grotesk-SemiBold", serif;
 $ft-esteban: 'Esteban', serif;

//breakpoints
$navTablet: 950px;
$tablet: 750px;

//misc
$transition: all 0.3s ease;
$mobileNavBorder: 1px solid $clr-brown-hover;


